
body {
  background: #050505;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  width: 90%;
  max-width: 500px;
  background: #0f0f0f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px red;
}

button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: red;
  border: 1px solid red;
  cursor: pointer;
}
